extends ../layouts/main-layout.pug

block content
  form.max-w-full.m-auto.p-4.bg-white.rounded-lg.shadow-lg(
    action=`/admin/${editing ? 'edit' : 'add'}-product?_csrf=${ csrfToken }`
    method='POST'
    class='sm:w-4/5 md:w-1/2'
    enctype='multipart/form-data'
  )
    if editing
      input(type='hidden' name='productId', value=`${ product.id }`)

    .my-4
      h3 #{ editing ? 'Edit Product' : 'Add Product'}
    .my-4
      label.block.w-full(for='title')
        | Title
      input#title.w-full.block.px-4.py-2.border.border-solid.border-teal-800.rounded.outline-none(
        type='text'
        name='title'
        value=`${editing || hasErrors ? product.title : ''}`
      )
      if (errors && errors.title)
        span.text-red-700.text-xs #{ errors.title.msg }

    .my-4
      label.block.w-full(for='image')
        | Image
      input#image.w-full.block.px-4.py-2.border.border-solid.border-teal-800.rounded.outline-none(
        type='file'
        name='image'
        value=`${editing || hasErrors ? product.image : ''}`
      )
      if (errors && errors.image)
        span.text-red-700.text-xs #{ errors.image.msg }

    .my-4
      label.block.w-full(for='price')
        | Price
      input#price.w-full.block.px-4.py-2.border.border-solid.border-teal-800.rounded.outline-none(
        type='number'
        name='price'
        step='0.01'
        value=`${editing || hasErrors ? product.price : ''}`
      )
      if (errors && errors.price)
        span.text-red-700.text-xs #{ errors.price.msg }

    .my-4
      label.block.w-full(for='description')
        | Description
      textarea#description.w-full.block.px-4.py-2.border.border-solid.border-teal-800.rounded.outline-none(
        rows='4'
        name='description'
      )
        | #{editing || hasErrors ? product.description : ''}
      if (errors && errors.description)
        span.text-red-700.text-xs #{ errors.description.msg }

    .my-4.text-right
      +button('Submit')
