extends ../layouts/main-layout.pug

block content
  form.max-w-full.m-auto(
    action='/auth/login'
    method='POST'
    class='w-11/12'
  )    
    .my-4
      label.block.w-full(for='email')
        | Email
        input#email.w-full.block.px-4.py-2.border.border-solid.border-teal-800.rounded.outline-none(
          type='email'
          name='email'
        )

    .my-4
      label.block.w-full(for='password')
        | Password
        input#password.w-full.block.px-4.py-2.border.border-solid.border-teal-800.rounded.outline-none(
          type='password'
          name='password'
        )

    .my-4
      button.px-4.py-2.borders.border-teal-800.bg-white.text-teal-800.cursor-pointer.rounded(type='submit' class='border border-teal-800 bg-white text-teal-800 hover:text-white hover:bg-teal-800 active:bg-teal-800 active:text-white')
        | Login
