extends ../layouts/main-layout.pug

block content
  if error.length
  form.max-w-full.m-auto.p-4.bg-white.rounded-lg.shadow-lg(
    action='/auth/reset'
    method='POST'
    class='sm:w-4/5 md:w-1/2'
  )
    .my-4
      h3 Reset Password
    .my-4
      label.block.w-full(for='email')
        | Email
        input#email.w-full.block.px-4.py-2.border.border-solid.border-teal-800.rounded.outline-none(
          type='email'
          name='email'
        )

    .my-4.text-right
      +button('Reset')
