extends ../layouts/main-layout.pug

block content
  form.max-w-full.m-auto.p-4.bg-white.rounded-lg.shadow-lg(
    action='/auth/signup'
    method='POST'
    class='sm:w-4/5 md:w-1/2'
  )
    .my-4
      h3 Sign up
    .my-4
      label.block.w-full(for='title')
        | First Name
        input#title.w-full.block.px-4.py-2.border.border-solid.border-teal-800.rounded.outline-none(
          type='text'
          name='firstName'
          value=`${firstName || ''}`
        )

    .my-4
      label.block.w-full(for='title')
        | Last Name
        input#title.w-full.block.px-4.py-2.border.border-solid.border-teal-800.rounded.outline-none(
          type='text'
          name='lastName'
          value=`${lastName || ''}`
        )

    .my-4
      label.block.w-full(for='title')
        | Email
        input#title.w-full.block.px-4.py-2.border.border-solid.border-teal-800.rounded.outline-none(
          type='email'
          name='email'
          value=`${email || ''}`
        )

    .my-4
      label.block.w-full(for='password')
        | Password
        input#password.w-full.block.px-4.py-2.border.border-solid.border-teal-800.rounded.outline-none(
          type='password'
          name='password'
        )

    .my-4
      label.block.w-full(for='confirmPassword')
        | Confirm Password
        input#confirmPassword.w-full.block.px-4.py-2.border.border-solid.border-teal-800.rounded.outline-none(
          type='password'
          name='confirmPassword'
        )

    .my-4.text-right
      +button('Sign Up')